# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. JULIA
3. R
4. SCALA

**Objectives:**
* Get to known about VARIOUS DATA SCIENCE library 
* Get to known about various types of language we use to operate in data science
* Get to known about various types of open and commercial source for data
* learns various coding languages and working in different different library like python and R
* Data science is very important in our day to day life data science is process of collecting data

Some of the commonly used libraries used by Data Scientists include:
1. PANDAS
2. Scikit learn
3. pytorch
4. matplotlib
5. tensorflow

|Data Science Tools|
|---------|
|apache spark sql|
|mysql|
|git|
|gihub

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Abhishek Chatterjee